.task {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
}

.high {
  border-left: 6px solid red;
}

.medium {
  border-left: 6px solid orange;
}

.low {
  border-left: 6px solid green;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
